@import "colors";
@import "fonts";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $primary-font, "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.text-primary {
  color: $primary;
}

.bg-primary {
  background-color: $primary;
}

.m-0 {
  margin: 0;
}

.mr-1 {
  margin-right: 12px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.btn,
%btn {
  height: 28px;
  background: #fff;
  padding: 5px 10px;
  cursor: pointer;
  color: $grey;
  border: none;
  display: flex;
  align-items: center;
}

.btn-outline {
  @extend %btn;

  border: 1px solid #eaeaea;
}

.btn-icon {
  img {
    height: 14px;
  }
}
