@use "../../assets/styles/colors";
@use "../../assets/styles/sizes";

.header {
  height: sizes.$calendar-header-height;
  padding: 8px 16px;
  background: white;
}

.title {
  font-size: 21px;
  font-weight: 400;
}

.subtitle {
  font-size: 12px;
  color: colors.$grey;
}

.toolbar {
  .btnIcon {
    margin-right: 9px;
  }
}

.btnCalendar {
  font-size: 12px;
  padding-left: 0 !important;

  .iconSm {
    height: 8px;
  }

  b {
    margin-left: 6px;
    margin-right: 12px;
  }
}

.btnPlus {
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: colors.$primary;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 10px;
    height: 10px !important;
  }
}

.btnEye {
  padding-left: 6px !important;
  padding-right: 6px !important;
  margin-right: 9px;
}

.btnPrimary {
  background: colors.$primary !important;
}
