@use "../../assets/styles/colors";

.calendar-title {
  padding-top: 24px;
  padding-bottom: 5px;
  background: transparent;
  font-size: 12px;

  .title {
    width: calc(100% / 7);
    color: colors.$lynch;
  }

  .today {
    color: white;
    padding: 3px 20px;
  }
}

%calendar-item-basic {
  background: #fff9;
  margin-bottom: 3px;
  position: relative;
}

.calendar-item {
  @extend %calendar-item-basic;

  width: calc(100% / 7 - 3px);
  height: 140px;

  &.weekend {
    background: colors.$primary40;
    color: white;
  }

  &.hover:hover {
    background: colors.$primary40;
    color: white;
    cursor: pointer;
  }

  .empty {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    opacity: 0%;
  }

  .bar {
    width: 100%;
    height: 18px;
    margin-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    position: absolute;
    cursor: pointer;
  }

  .view-more {
    font-size: 13px;
    color: colors.$lynch;
    position: absolute;
    top: 85px;
    margin-left: 6px;
  }

  .bar1 {
    top: 6px;
  }

  .bar2 {
    top: 30px;
  }

  .bar3 {
    top: 54px;
  }

  .w-one-side {
    width: calc(100% - 3px);
  }

  .w-two-side {
    width: calc(100% - 6px);
  }

  .bar-start {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 3px;
  }

  .bar-end {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 3px;
  }

  .date {
    padding: 0 14px 12px;
  }
}

.week-content {
  .title {
    width: calc(100% / 8);
  }

  .calendar-item {
    width: calc(100% / 8 - 3px);
    height: 50px;
  }
}

.day-content {
  .hour {
    @extend %calendar-item-basic;

    width: calc(100% / 8 - 3px);
    height: 50px;
  }

  .calendar-item {
    width: calc(100% * 7 / 8 - 3px);
    height: 50px;
  }
}
