@use "../../assets/styles/colors";

.calendarTitle {
  padding-top: 24px;
  padding-bottom: 5px;
  background: transparent;

  .title {
    width: calc(100% / 7);
    font-size: 12px;
    color: colors.$lynch;
  }
}

.calendarItemBasic,
%calendar-item-basic {
  background: #fff9;
  margin-bottom: 3px;
}

.calendarItem {
  @extend %calendar-item-basic;

  width: calc(100% / 7 - 3px);
  height: 140px;

  &.weekend {
    background: colors.$primary40;
    color: white;
  }

  .bar {
    width: 100%;
    height: 18px;
    background: colors.$green;
    margin-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
  }

  .wOneSide {
    width: calc(100% - 3px);
  }

  .wTwoSide {
    width: calc(100% - 6px);
  }

  .barStart {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 3px;
  }

  .barEnd {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 3px;
  }

  .date {
    padding: 0 14px 12px;
  }
}

.weekContent {
  .title {
    width: calc(100% / 8);
  }

  .calendarItem {
    width: calc(100% / 8 - 3px);
    height: 50px;
  }
}

.dayContent {
  .title {
    width: unset;
    color: white;
    padding: 3px 20px;
  }

  .hour {
    @extend %calendar-item-basic;

    width: calc(100% / 8 - 3px);
    height: 50px;
  }

  .calendarItem {
    width: calc(100% * 7 / 8 - 3px);
    height: 50px;
  }
}
