@use "../../assets/styles/colors";

.calendarTitle {
  padding-top: 24px;
  padding-bottom: 5px;
  background: rgb(217 233 248);
  background: linear-gradient(90deg, #d9e9f8 0%, #add0f2 50%, #e5f2fc 100%);

  .title {
    width: calc(100% / 7);
    font-size: 12px;
    color: colors.$lynch;
  }
}
