@use "colors";
@use "fonts";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: fonts.$primary-font, "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: colors.$black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: colors.$black;
}

#app {
  height: 100%;
}

.text-primary {
  color: colors.$primary;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: colors.$primary;
}

.bg-white {
  background: white;
}

.bg-transparent {
  background: transparent;
}

.m-0 {
  margin: 0;
}

.mr-1 {
  margin-right: 12px;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.btn,
%btn {
  height: 28px;
  background: #fff;
  padding: 5px 10px;
  cursor: pointer;
  color: colors.$grey;
  border: none;
  display: flex;
  align-items: center;
}

.btn-outline {
  @extend %btn;

  border: 1px solid #eaeaea;
}

.btn-icon {
  img {
    height: 14px;
  }
}
